<template>
  <main class="w-[320px] px-4 py-5 text-gray-700">
    <p class="text-sm mb-3">It works everywhere but is designed to be used on Release » Work Items</p>
    <ol>
      <li><span>1</span> Open release details</li>
      <li><span>2</span> Select deployment stage</li>
      <li><span>3</span> Select "Work Items" tab</li>
      <li><span>4</span> Open popup from the bottom right corner</li>
    </ol>
  </main>
</template>

<style scoped>
li {
  font-size: 16px;
  @apply p-2 pr-4 rounded-full my-1 bg-sky-200 flex items-center;
}
li > span {
  @apply h-10 min-w-10 grid place-items-center bg-sky-300 rounded-full mr-4;
}
</style>
