<template lang="pug">
p(v-if='stories.length > 0')
  span(v-html='listTitle')
  ul
    li(v-for='s in stories' :key='s.id') #[a(:href='s.href') \#{{ s.id }}] - {{ s.title }}
</template>

<script lang="ts" setup>
import { useRouteQuery } from '../composables/useRouteQuery';

type WorkItem = {
  id: number,
  title: string,
  href: string,
};

const stories: Ref<WorkItem[]> = ref([]);
const emit = defineEmits<{ (e: 'loaded', v: number): void }>();
const releaseId = useRouteQuery('releaseId');

const releaseTitle = computed(() => {
  return document.querySelector(`[href*="releaseId=${releaseId.value}"]`)
    ?.textContent;
});

const listTitle = computed(() => {
  if (releaseTitle.value) {
    const overlayPanelHeading = document.querySelector('.overlay-panel-heading-label');
    const stageSuffix = overlayPanelHeading ? ` | ${overlayPanelHeading.textContent}` : '';
    return `Stories for the <b>${releaseTitle.value}${stageSuffix}</b>:`;
  }
  else return '';
});

onMounted(() => {
  stories.value = [...document.querySelectorAll('[href*="/_workitems/edit/"]') as any]
    .map((x: HTMLAnchorElement) => ({
      id: x.href.split('/').at(-1),
      title: x.text,
      href: x.href
    }));

  emit('loaded', stories.value.length);
});
</script>

<style scoped>
ul {
  margin-bottom: 0;
  padding-left: 1.5rem;
}
li {
  padding: 0.3em 0;
}
p {
  padding: 0.6em;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  max-height: 90px;
  overflow-y: auto;
}
</style>