<template lang="pug">
.fixed.inset-0.bg-opacity-10.bg-black.z-100(v-if='show' @click='toggle()')
.fixed.right-0.bottom-0.m-5.z-100.flex.items-end.leading-1em
  .shadow-xl.b-solid.b-2.b-gray-800.bg-white.text-gray-800.rounded-lg.shadow.w-max.h-min.p-4.mr-2(v-if='show')
    h2.text-lg.mt-0 Found {{ totalStories }} work item{{ totalStories !== 1 ? "s" : "" }} on the page
    div(ref='source')
      detected-stories(v-if='show' @loaded='(v) => (totalStories = v)')
    template(v-if='totalStories > 0')
      .text-red-400.text-xs(v-if='!isSupported') #[b Warning]: Extension cannot copy the list due to current browser limitations. Please select and copy the list manually.
      .flex.justify-end(v-else)
        button.btn(@click='copy') {{ !copied ? 'Copy' : '✓ Copied' }}
  button.flex.w-10.h-10.rounded-full.cursor-pointer.border-none.bg-teal-600(:class='`hover:bg-teal-700 ${releaseId ? "" : "opacity-10"}`' @click='toggle()')
    mdi:close.block.m-auto.text-white.text-lg(v-if='show')
    mdi:content-copy.block.m-auto.text-white.text-lg(v-else)
</template>

<script setup lang="ts">
import { useToggle } from '@vueuse/core'
import { useClipboard } from '../../composables/useClipboard'
import { useRouteQuery } from '~/composables/useRouteQuery';
import 'uno.css';

const source: Ref<HTMLElement | null> = ref(null);
const { isSupported, copy, copied } = useClipboard({ source });
const releaseId = useRouteQuery('releaseId');

const [show, toggle] = useToggle(false);
const totalStories = ref(0);
</script>

<style scoped>
.btn {
  @apply px-4 py-2 rounded inline-block
    bg-green-600 text-white cursor-pointer
    hover:bg-green-700 uppercase border-none
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
  font-size: 0.8rem !important;
  letter-spacing: 0.04rem;
}
</style>
